# To run tests, copy this file to test.cfg and set the values below appropriately.

[sampleservicetest]

# path to the KBase jars (https://github.com/kbase/jars) directory,
# e.g. [path to parent folder]/jars/lib/jars
test.jars.dir={{ env['JARS'] }}

# path to the ArangoDB executable (arangod, *not* arangodb) to use for the tests.
# In the downloaded tarball it is at /usr/sbin/arangod.
test.arango.exe={{ env['ARANGO_EXE'] }}

# path to the ArangoDB javascript startup directory to use for the tests.
# This is the same path as provided to --javascript.startup-directory for the arangod executable.
# In the downloaded tarball it is at /usr/share/arangodb3/js/.
test.arango.js={{ env['ARANGO_JS'] }}

# path to the Kafka binary directory (in ./bin in the tarball root directory.)
test.kafka.bin.dir={{ env['KAFKA_BIN_DIR'] }}

# path to the MongoDB executable to use for the tests.
test.mongo.exe={{ env['MONGOD'] }}

# true to use wired tiger for MongoDB, anything else for false.
test.mongo.wired_tiger=true

# path to a temporary directory to use for tests.
test.temp.dir={{ env['TEMP_DIR'] }}

# true to keep the temporary directory contents after running tests.
test.temp.dir.keep=false
