[SampleService]
kbase-endpoint = {{ kbase_endpoint }}
job-service-url = {{ job_service_url }}
workspace-url = {{ workspace_url }}
shock-url = {{ shock_url }}
handle-service-url = {{ handle_url }}
srv-wiz-url = {{ srv_wiz_url }}
njsw-url = {{ njsw_url }}
auth-service-url = {{ auth_service_url }}
auth-service-url-allow-insecure = {{ auth_service_url_allow_insecure }}
scratch = /kb/module/work/tmp

# Location and credentials for the KBase Authentication service.
# auth-root-url is the KBase auth service root url, e.g. https://kbase.us/services/auth
# auth-token is any valid auth token for the sample service to use for user lookups. A service
# token is recommended.
# auth-full-admin-roles is a comma separated list of authentication service custom roles that
# denote a user is a full admin of the sample service.
# auth-full-admin-roles is a comma separated list of authentication service custom roles that
# denote a user has admin read privileges for the sample service.

{% if "appdev" in kbase_endpoint %}
auth-root-url = {{ appdev_auth_root_url }}
auth-token = {{ appdev_auth_token}}
{% else %}
auth-root-url = {{ auth_root_url }}
auth-token = {{ auth_token }}
{% endif %}

auth-full-admin-roles = {{ auth_full_admin_roles }}
auth-read-admin-roles = {{ auth_read_admin_roles }}

# Credentials for the KBase workspace service. The token must have read
# administration permissions.

workspace-read-admin-token={{ workspace_read_admin_token }}

# Location and credentials for the ArangoDB instance in which to store data.
# The DB is expected to be shared with the KBase relation engine.

{% if "appdev" in kbase_endpoint %}
arango-url = {{ appdev_arango_url }}
arango-db = {{ appdev_arango_db }}
arango-user = {{ appdev_arango_user}}
arango-pwd = {{ appdev_arango_pwd}}
{% else %}
arango-url = {{ arango_url }}
arango-db = {{ arango_db }}
arango-user = {{ arango_user}}
arango-pwd = {{ arango_pwd}}
{% endif %}

# Collection names for the sample service to use. These are configurable because:
# 1) The collection names might collide with Relation Engine collection names if hard coded into
#    the service as per normal practice
# 2) The service should not create collections on start up to allow for admins to do so instead,
#    so the admins can set up sharding correctly, which cannot be changed after collection
#    creation.

# The workspace object shadow collection should be the collection the KBase Relation Engine
# uses for its workspace object version documents. The Sample Server does not write to this
# collection.

#    ---- Collection descriptions ----
# sample-collection = "sample id and acls"
# version-collection = "name, version, version uuid (transaction key), and some other stuff"
# version-edge-collection = "links samples with version"
# node-collection = "all the nodes we talked about. metadata fields stored here"
# node-edge-collection = "edges between versions and nodes"
# data-link-collection = "link between nodes and workspace objects."
# workspace-object-version-shadow-collection = "RE workspace shadow collection"
# schema-collection = "1 object that says "this is the database schema version". for service start up"


sample-collection = {{ sample_collection }}
version-collection = {{ version_collection }}
version-edge-collection = {{ version_edge_collection }}
node-collection = {{ node_collection }}
node-edge-collection = {{ node_edge_collection }}
data-link-collection = {{ data_link_collection }}
workspace-object-version-shadow-collection = {{ workspace_object_version_shadow_collection}}
schema-collection = {{ schema_collection }}

# A URL pointing to a configuration file for any metadata validators to be installed on startup.
# See the readme file for a description of the file contents.
metadata-validator-config-url = {{ metadata_validator_config_url }}

# Parameters for Kafka notifications.
#
# kafka-bootstrap-servers is equivalent to the Kafka bootstrap.servers parameter. Leave blank to
# disable the Kafka notifier.
#
# kafka-topic is the topic to which the Kafka notifier should write. Required if
# kafka-bootstrap-servers is provided. Legal characters are alphanumerics and the hyphen.
{% if "appdev" in kbase_endpoint %}
kafka-bootstrap-servers = {{ appdev_kafka_bootstrap_servers }}
kafka-topic = {{ appdev_kafka_topic }}
{% else %}
kafka-bootstrap-servers = {{ kafka_bootstrap_servers }}
kafka-topic = {{ kafka_topic }}
{% endif %}