[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==7.1.2"
pytest-cov = "==3.0.0"
mypy = "==0.942"
coveralls = "==3.3.1"
flake8 = "==4.0.1"
semver = "==2.13.0"
coverage = "==6.3.2"
pymongo = "==4.1.1"

[packages]
python-arango = "==5.0.0"
jsonrpcbase = "==0.2.0"
apscheduler = "==3.9.1"
maps = "==5.1.1"
requests = "==2.27.1"
cacheout = "==0.13.1"
pyyaml = "==6.0"
jsonschema = "==3.2.0"
# hold pint back to 0.17 - requires code changes at 0.18
pint = "==0.17"
python-ranges = "==0.2.0"
pygtrie = "==2.4.2"
jinja2 = "==3.1.1"
gevent = "==21.12.0"
gunicorn = "==20.1.0"
kafka-python = "==2.0.2"
greenlet = "==1.1.2"
typing-extensions = "==4.2.0"
types-pyyaml = "==6.0.7"
types-requests = "==2.27.20"
shell = "==1.0.1"

[requires]
python_version = "3.7"
